<app-header (logOutUser)="logOut()" [authIsValid]="authIsValid()" [title]="title"></app-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngIf="!userInfo" size="12">
        <app-login (userAuthenticated)="loadUser()"></app-login>
      </ion-col>
    <ion-col *ngIf="userInfo">
      <app-profile [userInfo]="userInfo"></app-profile>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>