<ion-card button="true" [routerLink]="route" mode='md'>
  <ion-card-header>
    <ion-card-title>
      {{ count }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ title }}
  </ion-card-content>
</ion-card>