<div class="login-header"></div>
<form [formGroup]="loginForm">

  <ion-item>
    <ion-icon slot="start" name="mail-outline"></ion-icon>
    <ion-label position="floating">
      Correo Electrónico
    </ion-label>
    <ion-input formControlName="email" (keyup)="cleanField('email')" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    <ion-label position="floating">Clave</ion-label>
    <ion-input formControlName="password" (keyup)="cleanField('password')" type="password"></ion-input>
  </ion-item>

</form>
<ion-item button
          color="secondary"
          class="login-button"
          expand="full"
          (click)="signIn()"
          [disabled]="!loginForm.valid" >
  <ion-icon slot="start" data-name="log-in" name="log-in"></ion-icon>
  <ion-label>Iniciar</ion-label>
</ion-item>

<ion-item>
  <ion-label class="round-border" [hidden]="loginForm.valid" color="danger">{{errorMessage}}</ion-label>
</ion-item>