.login-header {
    width: 100%;
    height: 50%;
    background-color: var(--ion-color-secondary);
    border-radius: 0rem 8rem 0rem 8rem;
}

.round-border {
    border-radius: 1rem;
}

.login-button {
    border-radius: 1rem 0 1rem 0;
    text-align: center;
}

ion-icon[data-name="log-in"] {
    margin-right: -25px;
}