<div class="profile-header" align="center">
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12">
        <ion-avatar>
          <img [src]="userImage">
        </ion-avatar>
      </ion-col>
      <ion-col size=12>
        <h4>
          <ion-label>{{fullName}}</ion-label>
        </h4>
        <h5 class="profile-subtitle">
          <ion-label>{{userInfo.email}}</ion-label>
        </h5>
        <h5 class="profile-subtitle">
          <ion-badge color="secondary" mode="ios">{{userInfo.username}}</ion-badge>
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-item-group>

  <ion-item>
    <h4><strong>Líder</strong></h4>
  </ion-item>
  <ion-item>
    <ion-label>{{userInfo.leader.name}}</ion-label>
  </ion-item>

  <ion-item>
    <h4><strong>Asignaciones</strong></h4>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let counter of counters" size="4">
        <app-counter [title]="counter.title" [count]="counter.count" ></app-counter>
      </ion-col>
      <ion-col *ngIf="counters.length == 0" size="12">
        <ion-item>
          <ion-label> <i>Aún no tiene asignaciones</i> </ion-label>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-item-group>

