.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50% !important;
}

ion-avatar {
    width: 45%;
    height: 100%;
    max-width: 250px;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.profile-subtitle {
    margin-top: -10px;
}