<app-header [title]='title'></app-header>
<ion-content>

    <ion-list *ngIf="creyenteList.length > 0">
        <ion-item *ngFor="let creyente of creyenteList">
            <ion-avatar slot="start">
                <img src="/assets/data/profile_dev.jpg" />
            </ion-avatar>
            <ion-label>
                <h2> {{ creyente.nombre }} </h2>
                <p> {{ creyente.telefono }} </p>
            </ion-label>
            <ion-badge *ngIf="dateHasPassed()" slot="end" id="bell-exclamation" color="danger">!</ion-badge>
            <ion-icon slot="end" name="notifications" [color]="dateHasPassed() ? 'danger' : null"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>